@import '../variables';
ul {
  padding: 0;
}

li {
  list-style: none;
  background: whitesmoke;
  margin: 1px;
  padding: .5em 1em;
  cursor: pointer;
  &:hover {
    background: #e8e8e8;
  }
  .text {
    display: inline-block;
    width: calc(100% - 6rem);
  }
  &.completed {
    color: gray;
    .text {
      text-decoration: line-through;
    }
  }
  button {
    background: transparent;
    color: #424242;
    margin-right: 0;
    float: right;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: .8em;
    transition: opacity .2s ease, background .2s ease;
    &:hover {
      opacity: 1;
      background: rgba(19, 19, 19, 0.1);
    }
  }
}
