@import '../variables';
ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  line-height: 1em;
  background: whitesmoke;
  margin: 1em 0;
  padding: 1em;
  &.completed {
    color: red;
  }
  .text {
    display: inline-block;
    width: calc(100% - 6rem);
  }
  button {
    background: transparent;
    color: #424242;
  }
}
